/* IMPORTANT
Typology: 
For headings and buttons: font-family: 'Poppins', sans-serif;
For paragraphs and internal links:  font-family: 'Inter', sans-serif; 

Add these into you header for each webpage.  This is for the fonts to work:


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
*/


:root {
  --scu-red: #A32035;
  --text-dark: #2c3e50;
  --bg-light: #f8f9fa;
}

body{
    margin-left:0;
    margin-right:0;
    margin-top:0;
    margin-bottom:0;
}

header{
    display:flex;
    height:4rem;
    margin-top:2rem;
    margin-left:4rem;
    background-color:white;
    z-index:10;

}

#title{
    display:flex;
    align-items:center;
    margin-left:3rem;
    font-size:4rem;
    
}

nav{
    background-color:grey;
    display:flex;
    width:auto;
    margin-top:2rem;
    filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.3));
}

#topnav{
    display: flex;
    justify-content: flex-end;
    flex-direction:row;
    width: 100%;
    width: 100%;
    list-style-type:none;
    padding-right:3rem;
    gap:5rem;
}

#topnav li{
    color:white;
}

#topnav li a{
    color:white;
    text-decoration:none;

}

#topnav li a:hover{
    color:blue;

}


.section{
    padding-left:8rem;
    padding-right:8rem;
    padding-top:0.5rem; 
    padding-bottom:3rem;
}

/*this is for the 3-box stcture that is planned to be used in meet the dev page.*/
.split3 .containerOuter{ 

    display:flex;
    gap:4rem;
    justify-content:center;

}

.split3 .container{

    width:30%;
    list-style-type:none;
    text-align: center;
}

/*------------*/

h1,h2,h3{

    font-family: 'Poppins', sans-serif;

}

h1{
    font-size:4rem;
    margin-bottom:1rem;
}

h2{

    font-size:2.5rem;
    display:flex;
    height:fit-content;
    width:100%;
}

p,li{

    font-family: 'Inter', sans-serif; /*p*/
    font-size:1.2rem;

}

/* FOOTER STYLING */

footer{
    z-index:10;
    align-items: center;
    background-color: #758592;
    display:flex;
    justify-content:center;
    color:white;
    padding: 2rem 4rem;
    padding-top:1rem;
    padding-bottom:1rem;
    /* tried some text styling but decided to ultimately not include it */
    /*filter: drop-shadow(8px 4px 4px rgba(0, 0, 0, 0.3));*/
}

footer a {
    flex-shrink: 0;
}

footer img {
    /* THIS changes the SIZE of the MoM Logo */
    width: 200px;
    height: auto;
}

footer .epicLogo{
    width: 85px;
    height: auto;
    /* makes logo move further right from the mom logo */
    margin-left: 50px;
}


footer p {
    flex: 1;
    text-align: center;
    color: white;
    margin-left: 40px;
    font-size: 16px;
}

/*------------*/

.internal{ /*internal class, internal links button*/
    background-color:orange;
    border-radius:5px;
    width:fit-content;
    padding:1rem 2rem 1rem 2rem;
    text-decoration:none;
    color:white;

}

.external{ /*external class, external links button*/
    width:auto;
    color:#A32035;
    font-size:1.5rem;
    font-weight: bold;

}
