.right{
    width:max-content;
    flex:1;
    padding-right:2rem;
}

#cover{
    display:flex;
    background-image:linear-gradient(to bottom,orange, #A32035);
    padding-left:8rem;
    padding-right:8rem; 
    padding-top:2rem;
    padding-bottom:2rem;
    margin-bottom: 0rem;
}
 
#cover .left{ 
    padding-right:4rem; 
     padding-top:2rem; 
} 

#cover .left p{
    color:white;
}

h1{
    color:white;
}

#why{
    /* padding-left:10rem;
    padding-right:8rem; */
    margin-top:0rem;
    /* padding-top:2rem; */
    background-color:white;
    /* padding-bottom:2rem; */

}

#why .left{
     text-align: center;
     padding-bottom:0;
}

#why .left img{
    height: 17rem;
}

#why .external{
    display:flex;
    justify-content:center;
}

#why .right ul{
    display: flex;
    width: 100%;
    list-style-type:none;
    padding-right:3rem;
    flex-direction: column;
    justify-content:center;
     height: 100%;

}

#pipeline{
    display:flex;
    justify-content:center;
    margin-top:1.5rem;
    font-size:2.5rem;
    
}

.why_svg{
    height:1.5rem;
    margin-right:1rem;
}

#why .right{
    background-color:#A32035;
    border-radius:10px;
    height:20rem;
    margin-left:3rem;
    
}

#why .right ul li{
    gap:3rem;
    margin-bottom:2rem;
    color:white;

}


.external{
    width:auto;
    color:#A32035;
    font-size:1.5rem;


}

#why .content{
      display: flex !important;
    flex-direction: row !important;
    gap: 2rem;
    align-items: stretch;
    height:fit-content;
}


#what{
    background-color:#A32035;
     /* padding-left:10rem;
    padding-right:8rem;
    margin-top:0rem;
    padding-top:2rem;
    padding-bottom:2rem; */
}

#what h2{
    color:white;

}

/* .containerOuter{
    display:flex;
    gap:4rem;
    justify-content:center;

}

.container{
    width:30%;
    list-style-type:none;
    text-align: center;
} */

.container{
    background-color:white;
    width:30%;
    padding:2rem;
    border-radius:10px;
}


.container p{
    color:var(--scu-red);
}

.whatIcon{
    height:9rem;
}

#pipeline{
    color:white;
}

#you{

    padding-left:8rem;
    padding-right:8rem;
    margin-top:0rem;
    padding-bottom:2rem;

}

#you .content{
    display:flex;
}

.line{
    display:flex;
    flex-direction:row;
    margin-top:2rem;
    margin-right:2rem;
}

.line p{
    margin-right:2rem;
}

#game{
    background-color:#A32035;
    border-radius:5px;
    width:fit-content;
    display:flex;
    align-items:center;
    justify-content:center;
    padding-left:2rem;
    padding-top:1rem;
    padding-bottom:1rem;


}

#game .right{
    display:flex;
    margin-left:1rem;
    padding:2rem;
    flex-direction:column;


}

#gameTitle{
    font-size:2rem;
    font-weight:bold;
    margin-bottom:0;
}

#game img{
    height:12rem;
}

#game p{
    color:white;
}
