#content {
    /*background-image: url("../img/pipeline_banner.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;*/
    margin-top: 0;
    padding-top: 1rem;
    padding-bottom: 4rem;
    min-height: 100vh;
}

/*- BANNER STYLING -*/

.pipeline-banner {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.pipeline-banner {
    width: auto;
    height: 100%;
    object-fit: contain;
    display: block;
}

/*------------------*/

.pipeline-page {
    width: 80%;
    margin: auto;
    padding: 20px;
}

.pipeline-step {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 5rem 0;

    opacity: 0;
    transform: translateY(60px);
    transition: opacity 1s ease, transform 1s ease;
}

.pipeline-step.show {
    opacity: 1;
    transform: translateY(0);
}

.step-number {
    background-color: #800000;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    width: 65px;
    height: 65px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 3px solid white;
    flex-shrink: 0;
}

.step-content {
    display: flex;
    align-items: center;
    gap: 25px;

    background-color: #A51F35;
    border: 2px solid #800000;
    border-radius: 12px;
    padding: 25px;
    width: 100%;
}

.step-text {
    flex: 1;
    /* pipeline step color */
    color: #FFFFFF;
}

.step-text h2 {
    margin-top: 0;
    color: #FFFFFF;
}

.step-image {
    flex: 1;
    text-align: center;
}

.step-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    border: 0px solid #cccccc; 
    /* changed to 0px instead of 1px for the images in the pipeline to have no border */
}

/*step-image-one is the first step image; adjusted the size since it was larger*/

.step-image-one {
    flex: 1;
    text-align: center;
}

.step-image-one img {
    max-width: 45%;
    height: auto;
    border-radius: 10px;
    border: 0px solid #cccccc; 
    /* changed to 0px instead of 1px for the images in the pipeline to have no border */
}

/* This makes every other step flip direction slightly */
.pipeline-step:nth-child(even) .step-content {
    flex-direction: row-reverse;
}

@media screen and (max-width: 800px) {
    .pipeline-page {
        width: 95%;
    }

    .pipeline-step {
        flex-direction: column;
        align-items: flex-start;
    }

    .step-content {
        flex-direction: column;
    }

    .pipeline-step:nth-child(even) .step-content {
        flex-direction: column;
    }
}